@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  body{
    font-family: "Montserrat", sans-serif;
  }
  .container{
    width:100%;
    max-width:1200px;
    padding: 20px;
    margin:0 auto;
  }
}